@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome to MicroPizza</title>
</head>
<body>
    <div>
        <h1>Checking on your Micro Pizza Order</h1>

        

            <h2>My Order</h2>
            <ul>
                <li>1 Pepperoni Pizza</li>
                <li>1 Garlic Bread</li>
                <li>$19.00</li>
            </ul>
        
        
        <p>Pending</p>

        

    </div>
</body>
</html>