@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MicroPizza.Shopping.PizzaOrder>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome to MicroPizza</title>
</head>
<body>
    <div>
        <h1>Checking on your Micro Pizza Order</h1>

        

            <h2>My Order</h2>
        <ul>
            @{
                foreach (var lineItem in Model.LineItems)
                {
                    <li>@lineItem</li>

                }
            }
        </ul>

        <p>At a cost of $@Model.Price</p>
        
        <p>@Model.Status</p>

        

    </div>
</body>
</html>