@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to MicroPizza</title>
    </head>
    <body>
        <div>
            <h1>Welcome to MicroPizza</h1>  
            

        </div>
    </body>
</html>