@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Micro Pizza</title>
    </head>
    <body>
        <div>
            <h1>PAY TEH MONIES</h1>
            
            <form action="/cart/pay" method="POST">


                <h2>My Cart</h2>
                <ul>
                    <li>1 Pepperoni Pizza</li>
                    <li>1 Garlic Bread</li>
                </ul>
                
                <p>That will be $19.00</p>

                <input type="submit" value="Pay Now" />


            </form>

        </div>
    </body>
</html>