@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MicroPizza.Shopping.PizzaOrder>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Micro Pizza</title>
    </head>
    <body>
        <div>
            <h1>PAY TEH MONIES</h1>
            
            <form action="/cart/pay/@Model.Id" method="POST">


                <h2>My Cart</h2>
                <ul>
                    @{
                        foreach (var lineItem in Model.LineItems)
                        {
                            <li>@lineItem</li>
  
                        }
                    }
                </ul>
                
                <p>That will be $@Model.Price</p>

                <input type="submit" value="Pay Now" />


            </form>

        </div>
    </body>
</html>